.iframe-dnt-container {
  display: block;
  position: relative;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.dnt-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(70,70,70,.7);
}

.dnt-warning {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 35%;
  margin: -10% 0 0 -40%;
  text-align: center;
}

.dnt-warning:after {
  content: "Scandalous!";
}
